* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.container {
  font-family: "Rubik", sans-serif;
  height: 100vh;
  overflow: hidden;
}
.section {
}
.top {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/pattern-bg.png);
  position: relative;
}
.top-content {
  display: flex;
}
.middle {
  display: flex;
  padding: 2rem;
  color: black;
  background-color: white;
  justify-content: space-around;
  width: 80%;
  border-radius: 1.5rem;
  position: absolute;
  z-index: 20000;
  margin-top: 30rem;
}

.bottom {
  background-color: black;
  height: 600px;
}
.top-title {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
.top-input {
  padding: 1.3rem;
  width: 50rem;
  border-radius: 12px 0px 0px 12px;
  border: 2px solid white;
  outline: white;
}
.cool {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 17%);
  width: 5rem;
  border: 2px solid hsl(0, 0%, 17%);
  border-radius: 0px 12px 12px 0px;
  cursor: pointer;
  outline: hsl(0, 0%, 17%);
}
.info-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
  color: hsl(0, 0%, 59%);
  font-weight: 400;
  padding-left: 2rem;
}
.info-desc {
  font-size: 2rem;
  font-weight: 500;
  padding-left: 2rem;
  width: 15rem;
}
.info-loc {
  border-left: 2px solid hsl(0, 0%, 59%);
}
@media (max-width: 480.98px) {
  html {
    font-size: 7.5px;
  }
  .middle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-top: 54rem;
  }
  .bottom {
    height: 600px;
  }
  .info-loc {
    border-left: none;
    padding-bottom: 2rem;
  }
  .info-title {
    font-size: 2rem;
    text-align: center;
    padding-left: 0rem;
    padding-bottom: 0rem;
  }
  .info-desc {
    font-size: 3rem;
    padding-left: 0rem;
    width: auto;
    text-align: center;
  }
  .top-input {
    padding: 1.3rem;
    width: 38rem;
  }
  .loader {
    top: 50%;
  }
}
@media (min-width: 481px) and (max-width: 767.98px) {
  html {
    font-size: 7.5px;
  }
  .middle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 50rem;
  }
  .info-loc {
    border-left: none;
    padding-bottom: 2rem;
  }
  .info-title {
    font-size: 2rem;
    text-align: center;
    padding-left: 0rem;
    padding-bottom: 0rem;
  }
  .info-desc {
    font-size: 3rem;
    padding-left: 0rem;
    width: auto;
    text-align: center;
  }
  .bottom {
    height: 900px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  html {
    font-size: 9px;
  }
  .middle {
    width: 87%;
  }
  .info-desc {
    font-size: 1.8rem;
  }
  .bottom {
    height: 1300px;
  }
}
@media (min-width: 1024px) and (max-width: 1199.98px) {
}

.loader {
  margin: 0.9rem auto;
  text-align: center;
  position: absolute;
  z-index: 50000;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader svg {
  height: 9.5rem;
  width: 9.5rem;
  fill: #f59a83;
  transform-origin: 44% 50%;
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
